<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @plant.photo %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @plant.stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plant.price %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
